@import url("https://rsms.me/inter/inter.css");

@import url("~@fontsource/metropolis/300.css");
@import url("~@fontsource/metropolis/400.css");
@import url("~@fontsource/metropolis/500.css");
@import url("~@fontsource/metropolis/700.css");
@import url("~@fontsource/metropolis/800.css");
@import url("~@fontsource/metropolis/900.css");

:root {
    --gbx-font-sans: "Inter", sans-serif;
    --gbx-font-header: "Metropolis", sans-serif;
}

@supports (font-variation-settings: normal) {
    :root {
        --gbx-font-sans: "Inter var", sans-serif;
    }
}

.svg-path-revolt-logo {
    fill: #ff4655;
    stroke: #ff4655;
}

.svg-path-gifbox-segment-a {
    fill: #0085ff;
}

.svg-path-gifbox-segment-b {
    fill: #0070e9;
}

.svg-path-gifbox-segment-c {
    fill: #3399ff;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
